.App {
  background-image: url("https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
